<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- このキーはリソース グループ 'Default-ApplicationInsights-CentralUS' の Application Insights のリソース 'UWPSample1' に対応するものです -->
  <InstrumentationKey>745dfe47-3884-4183-9c8c-070503995980</InstrumentationKey>
</ApplicationInsights>